In [5]:
import pandas as pd

Opened The CSV file and read it - checked for Object type.

In [6]:
airliners = pd.DataFrame(pd.read_csv("airliners.csv", usecols=[0, 1, 2, 3, 4, 5,6]))
airliners = airliners.rename(columns={'Unnamed: 0': 'Airline'})

print(airliners)
print("\n Object type:")
print(type(airliners))

   Airline   Status   LA   PHX  Sandiego  SanFran  Seattle
0   Alaska  On Time  497   221       212      503     1841
1   Alaska  Delayed   62    12        20      102      305
2  AM West  On Time  694  4840       383      320      201
3  AM West  Delayed  117   415        65      129       61

 Object type:
<class 'pandas.core.frame.DataFrame'>

In [7]:
alaskaOnTime = pd.Series(airliners.loc[0])
alaskaDelayed = pd.Series(airliners.loc[1])
amwestOnTime = pd.Series(airliners.loc[2])
amwestDelayed = pd.Series(airliners.loc[3])

print(alaskaOnTime)
print("\n")
print(alaskaDelayed)
print(amwestOnTime)
print("\n")
print(amwestDelayed)

Airline      Alaska
Status      On Time
LA              497
PHX             221
Sandiego        212
SanFran         503
Seattle        1841
Name: 0, dtype: object


Airline      Alaska
Status      Delayed
LA               62
PHX              12
Sandiego         20
SanFran         102
Seattle         305
Name: 1, dtype: object
Airline     AM West
Status      On Time
LA              694
PHX            4840
Sandiego        383
SanFran         320
Seattle         201
Name: 2, dtype: object


Airline     AM West
Status      Delayed
LA              117
PHX             415
Sandiego         65
SanFran         129
Seattle          61
Name: 3, dtype: object

Created a pandas series and added an extra colum with the total of both flights that where on time and delayed.

Just to point out that if you do the sum we can get a better visual on how the data is presented. By adding the Total Column we can see that Am West had more on time flights than Alaska Airlines but 286 more flights were delayed. So what is the ration?

In [8]:
def addTotalCol():
    aOnTime = alaskaOnTime['LA':'Seattle'].sum()
    aDelayed = alaskaDelayed['LA':'Seattle'].sum()
    amOnTime = amwestOnTime['LA':'Seattle'].sum()
    amDelayed = amwestDelayed['LA':'Seattle'].sum()
    
    totalSeries = pd.Series([aOnTime, aDelayed, amOnTime, amDelayed])
    airliners['Total'] = totalSeries
    return airliners
addTotalCol()

   Airline   Status   LA   PHX  Sandiego  SanFran  Seattle  Total
0   Alaska  On Time  497   221       212      503     1841   3274
1   Alaska  Delayed   62    12        20      102      305    501
2  AM West  On Time  694  4840       383      320      201   6438
3  AM West  Delayed  117   415        65      129       61    787

In [9]:
airliners.mean()

LA           342.5
PHX         1372.0
Sandiego     170.0
SanFran      263.5
Seattle      602.0
Total       2750.0
dtype: float64

In [10]:
print(airliners.loc[0:1].describe())
print(airliners.loc[2:3].describe())

              LA         PHX    Sandiego     SanFran      Seattle        Total
count    2.00000    2.000000    2.000000    2.000000     2.000000     2.000000
mean   279.50000  116.500000  116.000000  302.500000  1073.000000  1887.500000
std    307.59145  147.785317  135.764502  283.549819  1086.116016  1960.807104
min     62.00000   12.000000   20.000000  102.000000   305.000000   501.000000
25%    170.75000   64.250000   68.000000  202.250000   689.000000  1194.250000
50%    279.50000  116.500000  116.000000  302.500000  1073.000000  1887.500000
75%    388.25000  168.750000  164.000000  402.750000  1457.000000  2580.750000
max    497.00000  221.000000  212.000000  503.000000  1841.000000  3274.000000
               LA          PHX    Sandiego     SanFran     Seattle       Total
count    2.000000     2.000000    2.000000    2.000000    2.000000     2.00000
mean   405.500000  2627.500000  224.000000  224.500000  131.000000  3612.50000
std    408.000613  3128.947507  224.859956  135.057395   98.994949  3995.86042
min    117.000000   415.000000   65.000000  129.000000   61.000000   787.00000
25%    261.250000  1521.250000  144.500000  176.750000   96.000000  2199.75000
50%    405.500000  2627.500000  224.000000  224.500000  131.000000  3612.50000
75%    549.750000  3733.750000  303.500000  272.250000  166.000000  5025.25000
max    694.000000  4840.000000  383.000000  320.000000  201.000000  6438.00000

Managed to get the ratios of both Alaska and Amwest Airlines.We can see from the daya that Alaska flights were delayed

In [11]:
alaskaRatio = (airliners['Total'][1] / (airliners['Total'][1] + airliners['Total'][0])) * 100
amWestRatio = (airliners['Total'][3] / (airliners['Total'][3] + airliners['Total'][2])) * 100

print('{}% of all Alaska flights were delayed'.format(alaskaRatio))
print('{}% of all Am West flights were delayed'.format(amWestRatio))

13.271523178807948% of all Alaska flights were delayed
10.892733564013842% of all Am West flights were delayed